<div class="row card-group">
        <div class="col-4" *ngFor="let chart of chartTypes">
                <br>
                <div class="card">
                        <button type="button" class="btn btn-primary btn-chartType" (click)="update($event, chart)">{{chart}}</button>
                </div>
        </div>
</div>
<div *ngFor="let filter of chartFilters">
        <br>
        <button type="button" class="btn btn-primary" (click)="chooseFilter(filter)">{{filter}}</button>
</div>
<div class="container">
        <h3>Range</h3>
        <p-calendar
        [(ngModel)]="dateRange"
        selectionMode="range"
        readonlyInput="true"
        [monthNavigator]="true" 
        [yearNavigator]="true"
        yearRange="2010:2100"
        ></p-calendar>
</div>
<div>
        <p-chart [type]="type" [data]="data" [options]="options" width="400" height="400">
        </p-chart>
</div>